.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pyc

# Temp
nohup.out
*.pid

# Local
venv

# Live
db/*.json

# too big for git
static/json/AllCards.json
static/json/AllSets.json
static/json/AllPrintings.json
