<!DOCTYPE html>
<html lang="en">
<head>
    <title> Type 4 - Admin </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="text-center">

    <h3> Type 4 - Admin </h3>
    <hr/>
    <p><a href='/'> return to main site </a></p>
    <hr/>
    <p><a href='/admin/test'> Test </a></p>
    <p><a href='/admin/status'> Update Status </a></p>
    <p><a href='/admin/category'> Update Category </a></p>
    <p><a href='/admin/category?new=1'> Update Category (new cards only) </a></p>
    <p><a href='/admin/category_bulk'> Update Category Bulk </a></p>
</div>

</body>
</html>
